[Unit]
Description=Renew Viewer domain TLS certificate twice daily

[Timer]
OnCalendar=*-*-* 03,15:17:00
RandomizedDelaySec=30m
Persistent=true
Unit=viewer-cert-renew.service

[Install]
WantedBy=timers.target
